@import '../../../styles/variables';

.button-primary {
  background-color: #fff;
  display: block;
  color: $text-primary;
  text-transform: uppercase;
  border: 1px solid $secondary-border;
  padding: 0;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $hovered-color;
  }

  &:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.button-selected {
  background-color: $blue-color;
  color: #fff;

  &:hover {
    background-color: $blue-color;
    color: #fff;
  }
}
