@import './variables';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  height: 100%;
}
