@import '../../../styles/variables';

.header-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $text-primary;
  padding: 0 0 20px 20px;
}
