.search-item {
  width: 187px;
  height: 60px;

  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 0px;

  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    box-shadow: 0px 0px 0px 2px #ff6f32;
  }

  & input {
    margin-left: 15px;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 1px;
      color: #9ea9b7;
    }
  }
}
