@import '/src//styles/variables';

.filters__item {
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background: $hovered-color;
  }
}
.checkbox {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  color: $text-primary;
}
.checkbox__input {
  display: none;
}
.checkbox__border {
  display: inline-block;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border: 1px solid $blue-color;
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.checkbox__border.checked {
  border: 1px solid #2196f3;
}
.checkbox__border.checked::after {
  content: '';
  display: block;
  background: url('./Shape.png') no-repeat;
  height: 8px;
  width: 12px;
  position: relative;
  top: 5px;
  left: 3px;
}
