.error-tickets {
  background-color: #fff;
  height: 135px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 200px;
  }
}

.error-tickets__title {
  text-align: center;
}
